#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#score {
  position: absolute;
  font-weight:bold;
  top: 50px;
  left: 20px;
  font-size: 30px;
  color: white;
  background-color: tranparent;
}

#level {
  position: absolute;
  font-weight:bold;
  top: 90px;
  left: 20px;
  font-size: 25px;
  color: white;
  background-color: tranparent;
}

#gameOver {
  position: absolute;
  font-weight:bold;
  top: 220px;
  left: 180px;
  font-size: 30px;
  color: white;
  background-color: tranparent;
}

#title {
  position: relative;
  font-weight:bold;
  left: 300px;
  font-size: 30px;
}
